<% include ../partials/attendanceHeader%>
<div class="container">
  <h3>View employee</h3>
  <table class="table">
      <label class="pl-3" for="tempatlahir">From:</label>
      <div class="md-form col-xl-3">
        <input name="from" type="date" id="from" required>
      </div>
      <label class="pl-3" for="tempatlahir">Tanggal Lahir</label>
			<div class="md-form col-xl-3">
				<input name="to" type="date" id="to" required>
			</div>
      <button type="button" class="btn btn-primary">Manual</button>

      <table class="table">
        <thead>
          <tr>
            <td>NIK</td>
            <td>Nama</td>
            <td>Department</td>
            <td>Atasan Langsung</td>
            <td>Tanggal</td>
            <td>Jam Masuk</td>
            <td>Sign In</td>
            <td>Sign Out</td>
            <td>Jam Kerja</td>
            <td>Telat</td>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>


  </table>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js">
</script>
<script type="text/javascript">

  $(document).ready(function() {

  });

  function loadTable(data){
    $('tbody').html(null);
    var tr;
    for (var i = 0; i < data.length; i++) {
        let minDate = moment.min(getTime(data[i].absensi))
        let maxDate = moment.max(getTime(data[i].absensi))
        tr = $('<tr/>');
        tr.append("<td>" + i + "</td>");
        tr.append("<td>" + data[i].nik + "</td>");
        tr.append("<td>" + data[i].first_Name+" "+data[i].last_Name + "</td>");
        tr.append("<td>" + data[i].department + "</td>");
        tr.append("<td>" + (data[i].atasan_langsung?data[i].atasan_langsung:"") + "</td>");
        tr.append("<td>" + moment(data[i].absensi[0]["date"]).format("D MMMM YYYY") + "</td>");
        tr.append("<td>" + minDate.format("HH:mm:ss") + "</td>");
        tr.append("<td>" + maxDate.format("HH:mm:ss") + "</td>");
        tr.append("<td>" + moment.utc(minDate.diff(maxDate)).format("HH:mm:ss") + "</td>");
        // tr.append("<td>" + data[i].score + "</td>");
        // tr.append("<td>" + data[i].team + "</td>");
        // tr.append("<td>" + data[i].team + "</td>");
        $('tbody').append(tr);
    }
  }

  function getTime(datas){
    return datas.map((data)=>{
      return moment(data["date"])
    })
  }

  $('button').on('click',()=>{
    console.log("trigger");
    let fromDate=new Date($('#from').val());
    let fromString=fromDate.getFullYear()+"-"+(fromDate.getMonth()+1)+"-"+fromDate.getDate()
    let toDate=new Date($('#to').val());
    let toString=toDate.getFullYear()+"-"+(toDate.getMonth()+1)+"-"+toDate.getDate()
    $.getJSON("/api/attendances",{from:fromString,to:toString})
    .then((data)=>{
      console.log(data);
      loadTable(data)
    })
  })
</script>
<% include ../partials/attendanceFooter%>
